{% extends "base.html" %}

{% block content %}
    <h2>Search Results for "{{ query }}"</h2>
    <div class="search-results-grid">
        {% for movie in movies %}
            <div class="movie-card">
                <a href="{{ url_for('movie_detail', movie_id=movie.id) }}">
                    <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
                    <div class="movie-info">
                        <h3>{{ movie.title }}</h3>
                        <p>{{ movie.overview[:100] }}...</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}